body {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.moi01 {
    width: 1603px;
    height: 759px;
    position: relative;


}


.fleche {
    position: absolute;
    left: 28vw;
    top:11vw;
    transform: rotate(-30deg);
    /*color : white;*/

}
.basDePage {
    width: 100% ;
    height: 5vw;
}
.signature {
    padding: 1.5vw;
    font-size: 2vw;
    text-align: center;
}